@charset "UTF-8";
/* CSS Document */

html, body {
	font-size: 16px;
	height: 100%;
	margin: 0, auto;
}


body {
	background: url('../img/wow.png') bottom center no-repeat;
	background-size: cover;
	display: flex;
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	justify-content: center;
	align-items: center;
}


.centered {
	background: #f16059;
	padding: 0 3.125em;
}


h1 {
	color: #fff;
	font-size: 2em;
	text-align: center;
}


/*---------- TABLET (Tablets larger than 768px wide) ----------*/


@media screen and (min-width: 768px) {
	h1 {
		font-size: 3em;
	}
}


/*---------- DESKTOPS (Monitors larger than 1200px wide) ----------*/


@media screen and (min-width: 1200px) {
	h1 {
		font-size: 4em;
	}
}